.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 15cm;

}

.result {
    font-size: 25px;
    margin-bottom: 30px;
}